<h1>오늘 나는 어떤 일을 겪었을까?</h1>
<p>글을 다 썼다면 제출을 누르렴~~~</p>

<form action="/home/create" method="post">
  제목 : <input type="text" name="title"><br>
  내용 : <input type="text" name="content"><br>
  <input type="submit" value="제출">
</form>

